.logincont {
	max-width: 500px;
	margin-top: 200px;
}

.logincont form {
	padding: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.logoutbtn {
	margin-top: 10px;
}

.addbtn {
	margin-top: 10px;
	margin-right: 10px;
}

.modactions {
	cursor: pointer;
	padding-right: 10px;
}
